<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <welcome-file-list>
        <welcome-file>Home.jsp</welcome-file>
    </welcome-file-list>
    <servlet>
        <servlet-name>SignupServlet</servlet-name>
        <servlet-class>SignupServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>HomeServlet</servlet-name>
        <servlet-class>HomeServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <servlet-class>ForgotPasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>TransportationServlet</servlet-name>
        <servlet-class>TransportationServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>FoodConsumptionServlet</servlet-name>
        <servlet-class>FoodConsumptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EnergyConsumptionServlet</servlet-name>
        <servlet-class>EnergyConsumptionServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DashboardServlet</servlet-name>
        <servlet-class>DashboardServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <servlet-class>UpdateProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateProfilePhotoServlet</servlet-name>
        <servlet-class>UpdateProfilePhotoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <servlet-class>DeleteAccountServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <servlet-class>UpdatePasswordServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>StreakServlet</servlet-name>
        <servlet-class>StreakServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ProgressServlet</servlet-name>
        <servlet-class>ProgressServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DownloadDataServlet</servlet-name>
        <servlet-class>DownloadDataServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>LogoutServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AuthFilter</servlet-name>
        <servlet-class>AuthFilter</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DBTest</servlet-name>
        <servlet-class>DBTest</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>SignupServlet</servlet-name>
        <url-pattern>/SignupServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>HomeServlet</servlet-name>
        <url-pattern>/HomeServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/LoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ForgotPasswordServlet</servlet-name>
        <url-pattern>/ForgotPasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>TransportationServlet</servlet-name>
        <url-pattern>/TransportationServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>FoodConsumptionServlet</servlet-name>
        <url-pattern>/FoodConsumptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EnergyConsumptionServlet</servlet-name>
        <url-pattern>/EnergyConsumptionServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DashboardServlet</servlet-name>
        <url-pattern>/DashboardServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfileServlet</servlet-name>
        <url-pattern>/UpdateProfileServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateProfilePhotoServlet</servlet-name>
        <url-pattern>/UpdateProfilePhotoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteAccountServlet</servlet-name>
        <url-pattern>/DeleteAccountServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePasswordServlet</servlet-name>
        <url-pattern>/UpdatePasswordServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>StreakServlet</servlet-name>
        <url-pattern>/StreakServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ProgressServlet</servlet-name>
        <url-pattern>/ProgressServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DownloadDataServlet</servlet-name>
        <url-pattern>/DownloadDataServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/LogoutServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AuthFilter</servlet-name>
        <url-pattern>/AuthFilter</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DBTest</servlet-name>
        <url-pattern>/DBTest</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
